{% extends 'base.html' %}

{% block content %}
{% load static %}


<nav class="navbar bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><b>Welcome!</b><img src="{% static 'wishlist/images/gambarUser.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        {{nama}}</span>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Other links
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="https://google.com">Google</a></li>
          <li><a class="dropdown-item" href="https://youtube.com">Youtube</a></li>
        </ul>
      </li>
      <button class="btn btn-outline-success me-2" type="button"><a href="{% url 'wishlist:logout' %}">Logout</a>
      </button>
    </div>

</nav>

<h1></h1>

<h3>Tabel wishlist yang dimiliki: </h3>

<div>
<table class="table table-striped">
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
    <tr>
        <th>{{barang.nama_barang}}</th>
        <th>{{barang.harga_barang}}</th>
        <th>{{barang.deskripsi}}</th>
    </tr>
    {% endfor %}
</table>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<button><a href="{% url 'wishlist:logout' %}">Logout</a></button>

{% endblock content %}