{% extends 'base.html' %}

{% block content %}
{% load static %}
<nav class="navbar bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><b>Welcome!</b><img src="{% static 'wishlist/images/gambarUser.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        {{nama}}</span>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Other links
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="https://google.com">Google</a></li>
          <li><a class="dropdown-item" href="https://youtube.com">Youtube</a></li>
        </ul>
      </li>
      <button class="btn btn-outline-success me-2" type="button"><a href="{% url 'wishlist:logout' %}">Logout</a>
      </button>
    </div>

</nav>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $.get("http://127.0.0.1:8000/wishlist/json/", function(data) {
            for(i = 0; i <data.length; i++){
                $(".barang").append(`<tr><td>${data[i].fields.nama_barang}</td><td>${data[i].fields.harga_barang}</td><td>${data[i].fields.deskripsi}</td></tr>`)
            }
        });
        $("#submit_btn").click(function(){$.post("http://localhost:8000/wishlist/ajax/submit", {nama_barang: $("#nama_barang").val(),harga_barang:parseInt($("#harga_barang").val()),deskripsi:$("#deskripsi").val()} )
        })
    });
    </script>
  </head>

  <form method="POST" action="">
    {% csrf_token %}
    <table>
      <tr>
        <td>Nama Barang:</td>
        <td>
          <input
            type="text"
            name="nama_barang"
            placeholder="Nama Barang"
            id="nama_barang"
            class="form-control"
          />
        </td>
      </tr>
  
      <tr>
        <td>Harga Barang:</td>
        <td>
          <input
            type="text"
            name="harga_barang"
            id="harga_barang"
            placeholder="Harga Barang"
            class="form-control"
          />
        </td>
      </tr>
      <tr>
        <td>Deskripsi:</td>
        <td>
          <input
            type="text"
            name="deskripsi"
            placeholder="Deskripsi"
            class="form-control"
            id="deskripsi"
          />
        </td>
      </tr>
  
      <tr>
        <td></td>
      <td>  <button id="submit_btn">Tambah</button></td>    </tr>
    </table>
  </form>

<h1></h1>

<h3>Tabel wishlist yang dimiliki: </h3>

<div>
<table class="barang">
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    
</table>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<button><a href="{% url 'wishlist:logout' %}">Logout</a></button>

{% endblock content %}